
body {

text-align: center;
background-color: #EEEEEE;

}

nav {
height: 3vw;
}

nav a {

padding-right: 3vw;
text-decoration: none;
line-height: 3vw;

}

nav a:hover {

    font-style: italic;

    }

nav {

background-color: #B4B897;

}

ul{

list-style-type: none;
}

.follow-button-form {

display: inline-block;

}

.user-list li {

padding: 1vw;

}

.feed-list li {

padding: 1vw;
background-color: white;
margin: 1vw;

}